.root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}
body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: #ffffff;
}
.bg-dark { background-color: #16191c !important; }
.bg-dark-x { background-color: #1e2126; }

.form-control, .btn {
    min-height: 3.125rem;
}

